<a href="https://colab.research.google.com/github/katha815/ADME-Classifier/blob/main/CData_GKBdata_Features_Extraction3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Ensembl Features Extraction

In [ ]:
pd_En = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/ADME Project/Cdata_Ensembl.txt", delimiter='\t')
pd_En.replace('-', np.nan, inplace=True)
pd_En

,#Uploaded_variation,Location,Allele,Consequence,IMPACT,SYMBOL,Gene,Feature_type,Feature,BIOTYPE,...,gnomADg_SAS_AF,CLIN_SIG,SOMATIC,PHENO,PUBMED,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,TRANSCRIPTION_FACTORS
0,1_46933071_G/C,1:46933071-46933071,C,intron_variant,MODIFIER,CYP4A11,ENSG00000187048,Transcript,ENST00000310638.9,protein_coding,...,0.6269,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
1,1_46933071_G/C,1:46933071-46933071,C,intron_variant,MODIFIER,CYP4A11,ENSG00000187048,Transcript,ENST00000371905.1,protein_coding,...,0.6269,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
2,1_46933071_G/C,1:46933071-46933071,C,intron_variant,MODIFIER,CYP4A11,ENSG00000187048,Transcript,ENST00000462347.5,protein_coding,...,0.6269,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
3,1_46933071_G/C,1:46933071-46933071,C,"intron_variant,NMD_transcript_variant",MODIFIER,CYP4A11,ENSG00000187048,Transcript,ENST00000465874.5,nonsense_mediated_decay,...,0.6269,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
4,1_46933071_G/C,1:46933071-46933071,C,"intron_variant,NMD_transcript_variant",MODIFIER,CYP4A11,ENSG00000187048,Transcript,ENST00000468629.5,nonsense_mediated_decay,...,0.6269,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3837,9_84331502_A/C,9:84331502-84331502,C,intron_variant,MODIFIER,SLC28A3,64078,Transcript,XM_011518907.3,protein_coding,...,0.4571,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3838,9_84331502_A/C,9:84331502-84331502,C,intron_variant,MODIFIER,SLC28A3,64078,Transcript,XM_011518909.3,protein_coding,...,0.4571,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3839,9_84331502_A/C,9:84331502-84331502,C,intron_variant,MODIFIER,SLC28A3,64078,Transcript,XM_011518910.3,protein_coding,...,0.4571,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3840,9_84331502_A/C,9:84331502-84331502,C,intron_variant,MODIFIER,SLC28A3,64078,Transcript,XM_047423712.1,protein_coding,...,0.4571,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3841,9_84331502_A/C,9:84331502-84331502,C,regulatory_region_variant,MODIFIER,NaN,NaN,RegulatoryFeature,ENSR00000884838,enhancer,...,0.4571,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN

In [ ]:
pd_En.dtypes

#Uploaded_variation      object
Location                 object
Allele                   object
Consequence              object
IMPACT                   object
                          ...
MOTIF_NAME               object
MOTIF_POS                object
HIGH_INF_POS             object
MOTIF_SCORE_CHANGE       object
TRANSCRIPTION_FACTORS    object
Length: 63, dtype: object

In [ ]:
columns_to_convert = ['AF', 'AFR_AF', 'AMR_AF', 'EAS_AF', 'EUR_AF', 'SAS_AF', 'gnomADg_AF', 'gnomADg_AFR_AF', 'gnomADg_AMI_AF', 'gnomADg_AMR_AF', 'gnomADg_ASJ_AF', 'gnomADg_EAS_AF', 'gnomADg_FIN_AF', 'gnomADg_MID_AF', 'gnomADg_NFE_AF', 'gnomADg_OTH_AF', 'gnomADg_SAS_AF']

# Convert the specified columns to float type
pd_En[columns_to_convert] = pd_En[columns_to_convert].astype(float)
pd_En.dtypes

#Uploaded_variation      object
Location                 object
Allele                   object
Consequence              object
IMPACT                   object
                          ...
MOTIF_NAME               object
MOTIF_POS                object
HIGH_INF_POS             object
MOTIF_SCORE_CHANGE       object
TRANSCRIPTION_FACTORS    object
Length: 63, dtype: object

In [ ]:
pd_En2 = pd_En
# Extract first number after ":"
pd_En2['Location'] = pd_En['Location'].str.extract(r'\:(\d+)')

# Extract number inside brackets in "SIFT" column
pd_En2['SIFT'] = pd_En['SIFT'].str.extract(r'\((\d+\.\d+)\)').astype(float)

# Extract number inside brackets in "PolyPhen" column
pd_En2['PolyPhen'] = pd_En['PolyPhen'].str.extract(r'\((\d+\.\d+)\)').astype(float)

#DISTANCE
pd_En2['DISTANCE'] = pd_En['DISTANCE'].str.extract(r'(\d+)').astype(float)

# Print the modified DataFrame
pd_En2[['Location','SIFT','PolyPhen','DISTANCE']]

      Location  SIFT  PolyPhen  DISTANCE
0     46933071   NaN       NaN       NaN
1     46933071   NaN       NaN       NaN
2     46933071   NaN       NaN       NaN
3     46933071   NaN       NaN       NaN
4     46933071   NaN       NaN       NaN
...        ...   ...       ...       ...
3837  84331502   NaN       NaN       NaN
3838  84331502   NaN       NaN       NaN
3839  84331502   NaN       NaN       NaN
3840  84331502   NaN       NaN       NaN
3841  84331502   NaN       NaN       NaN

[3842 rows x 4 columns]

In [ ]:
# New data frame without the columns to be converted
pd_En3 = pd_En2
pd_En3 = pd_En3.drop(columns=['Location','SIFT','PolyPhen','DISTANCE'])
pd_En3 = pd_En3.drop(columns=['Consequence','IMPACT','BIOTYPE'])
pd_En3 = pd_En3.drop(columns=columns_to_convert)
pd_En3

,#Uploaded_variation,Allele,SYMBOL,Gene,Feature_type,Feature,EXON,INTRON,HGVSc,HGVSp,...,BAM_EDIT,CLIN_SIG,SOMATIC,PHENO,PUBMED,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,TRANSCRIPTION_FACTORS
0,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000310638.9,NaN,9/11,NaN,NaN,...,NaN,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
1,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000371905.1,NaN,9/10,NaN,NaN,...,NaN,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
2,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000462347.5,NaN,7/9,NaN,NaN,...,NaN,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
3,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000465874.5,NaN,6/7,NaN,NaN,...,NaN,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
4,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000468629.5,NaN,9/10,NaN,NaN,...,NaN,NaN,"0,1","0,1",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3837,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518907.3,NaN,1/16,NaN,NaN,...,NaN,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3838,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518909.3,NaN,1/10,NaN,NaN,...,NaN,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3839,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518910.3,NaN,1/11,NaN,NaN,...,NaN,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3840,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_047423712.1,NaN,1/13,NaN,NaN,...,NaN,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN
3841,9_84331502_A/C,C,NaN,NaN,RegulatoryFeature,ENSR00000884838,NaN,NaN,NaN,NaN,...,NaN,NaN,"0,1","0,1","24795743,27609196,30273369,32601683,36536332,3...",NaN,NaN,NaN,NaN,NaN

In [ ]:
#1: Calculate max, min and mean for interested number columns
aggregations = {
    'DISTANCE': ['max', 'min', 'mean'],
    'SIFT': ['max', 'min', 'mean'],
    'PolyPhen': ['max', 'min', 'mean'],
}
grouped_df = pd_En2.groupby('#Uploaded_variation').agg(aggregations).reset_index()
grouped_df.columns = ['#Uploaded_variation','maxDis','minDis','meanDis',
              'maxSIFT','minSIFT','meanSIFT','maxPolyPhen','minPolyPhen','mmeanPolyPhen']
mean_df = pd_En2.groupby('#Uploaded_variation')[columns_to_convert].mean().reset_index()
grouped_df

,#Uploaded_variation,maxDis,minDis,meanDis,maxSIFT,minSIFT,meanSIFT,maxPolyPhen,minPolyPhen,mmeanPolyPhen
0,10_94759304_C/T,3377.0,3377.0,3377.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10_94761288_C/T,1393.0,1393.0,1393.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10_94761665_G/A,1016.0,1016.0,1016.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10_94761817_T/G,864.0,864.0,864.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10_94761900_C/A,781.0,781.0,781.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
353,8_104451462_A/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,8_104466921_A/G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,9_84286011_G/A,4200.0,4176.0,4188.0,NaN,NaN,NaN,NaN,NaN,NaN
356,9_84294635_G/A,4504.0,4499.0,4501.5,NaN,NaN,NaN,NaN,NaN,NaN
357,9_84331502_A/C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mean_df

,#Uploaded_variation,AF,AFR_AF,AMR_AF,EAS_AF,EUR_AF,SAS_AF,gnomADg_AF,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AF,gnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF
0,10_94759304_C/T,0.1559,0.2458,0.1196,0.0149,0.2237,0.1360,0.20170,0.22690,0.26430,0.133900,0.21280,0.009441,0.18560,0.227800,0.219900,0.20230,0.162900
1,10_94761288_C/T,0.0912,0.1067,0.0389,0.0962,0.0716,0.1227,0.08009,0.11140,0.02961,0.056780,0.08439,0.099770,0.05202,0.075950,0.066750,0.07854,0.121100
2,10_94761665_G/A,0.0226,0.0825,0.0029,0.0010,0.0010,0.0000,0.02213,0.07745,0.00000,0.007071,0.00000,0.000192,0.00000,0.009494,0.000265,0.01291,0.000622
3,10_94761817_T/G,0.0801,0.0696,0.0360,0.0952,0.0686,0.1217,0.06827,0.07589,0.02961,0.052280,0.08040,0.099110,0.05112,0.072780,0.063780,0.06781,0.119500
4,10_94761900_C/A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,8_104451462_A/G,0.3764,0.2602,0.4150,0.3562,0.5467,0.3517,0.45520,0.29170,0.46040,0.412600,0.46680,0.352200,0.56480,0.414600,0.559200,0.46030,0.386600
354,8_104466921_A/G,0.6362,0.6762,0.5058,0.7232,0.5944,0.6278,0.61460,0.65710,0.55960,0.526000,0.62850,0.725100,0.64850,0.653800,0.595300,0.60510,0.614700
355,9_84286011_G/A,0.2027,0.3396,0.2334,0.1558,0.1372,0.1115,0.18690,0.30780,0.05811,0.187500,0.22220,0.148800,0.06052,0.139200,0.139800,0.19120,0.131500
356,9_84294635_G/A,0.1320,0.1006,0.2017,0.1607,0.1262,0.1012,0.11910,0.10220,0.05811,0.153500,0.21380,0.149100,0.05388,0.117100,0.124700,0.14430,0.120400
357,9_84331502_A/C,0.4860,0.5076,0.5793,0.3730,0.5557,0.4356,0.52720,0.53520,0.60790,0.590400,0.56220,0.403300,0.47190,0.585400,0.526900,0.56390,0.457100

In [ ]:
#1: Calculate max, min and mean for interested number columns

# Merge the aggregated data with the original DataFrame
pd_En3 = pd_En3.merge(grouped_df, on='#Uploaded_variation')
pd_En3 = pd_En3.merge(mean_df, on='#Uploaded_variation')
pd_En3

,#Uploaded_variation,Allele,SYMBOL,Gene,Feature_type,Feature,EXON,INTRON,HGVSc,HGVSp,...,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AF,gnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF
0,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000310638.9,NaN,9/11,NaN,NaN,...,0.4149,0.7659,0.6757,0.7699,0.5211,0.7579,0.6994,0.7853,0.6853,0.6269
1,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000371905.1,NaN,9/10,NaN,NaN,...,0.4149,0.7659,0.6757,0.7699,0.5211,0.7579,0.6994,0.7853,0.6853,0.6269
2,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000462347.5,NaN,7/9,NaN,NaN,...,0.4149,0.7659,0.6757,0.7699,0.5211,0.7579,0.6994,0.7853,0.6853,0.6269
3,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000465874.5,NaN,6/7,NaN,NaN,...,0.4149,0.7659,0.6757,0.7699,0.5211,0.7579,0.6994,0.7853,0.6853,0.6269
4,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000468629.5,NaN,9/10,NaN,NaN,...,0.4149,0.7659,0.6757,0.7699,0.5211,0.7579,0.6994,0.7853,0.6853,0.6269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3837,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518907.3,NaN,1/16,NaN,NaN,...,0.5352,0.6079,0.5904,0.5622,0.4033,0.4719,0.5854,0.5269,0.5639,0.4571
3838,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518909.3,NaN,1/10,NaN,NaN,...,0.5352,0.6079,0.5904,0.5622,0.4033,0.4719,0.5854,0.5269,0.5639,0.4571
3839,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518910.3,NaN,1/11,NaN,NaN,...,0.5352,0.6079,0.5904,0.5622,0.4033,0.4719,0.5854,0.5269,0.5639,0.4571
3840,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_047423712.1,NaN,1/13,NaN,NaN,...,0.5352,0.6079,0.5904,0.5622,0.4033,0.4719,0.5854,0.5269,0.5639,0.4571
3841,9_84331502_A/C,C,NaN,NaN,RegulatoryFeature,ENSR00000884838,NaN,NaN,NaN,NaN,...,0.5352,0.6079,0.5904,0.5622,0.4033,0.4719,0.5854,0.5269,0.5639,0.4571

In [ ]:
#2: Combine text data from columns to create a new column
pd_En3['Consequence'] = pd_En2['Consequence'].str.split(',')
# Define the list of terms
terms = [
    "transcript_ablation",
    "splice_acceptor_variant",
    "splice_donor_variant",
    "stop_gained",
    "frameshift_variant",
    "stop_lost",
    "start_lost",
    "transcript_amplification",
    "feature_elongation",
    "feature_truncation",
    "inframe_insertion",
    "inframe_deletion",
    "missense_variant",
    "protein_altering_variant",
    "splice_donor_5th_base_variant",
    "splice_region_variant",
    "splice_donor_region_variant",
    "splice_polypyrimidine_tract_variant",
    "incomplete_terminal_codon_variant",
    "start_retained_variant",
    "stop_retained_variant",
    "synonymous_variant",
    "coding_sequence_variant",
    "mature_miRNA_variant",
    "5_prime_UTR_variant",
    "3_prime_UTR_variant",
    "non_coding_transcript_exon_variant",
    "intron_variant",
    "NMD_transcript_variant",
    "non_coding_transcript_variant",
    "coding_transcript_variant",
    "upstream_gene_variant",
    "downstream_gene_variant",
    "TFBS_ablation",
    "TFBS_amplification",
    "TF_binding_site_variant",
    "regulatory_region_ablation",
    "regulatory_region_amplification",
    "regulatory_region_variant",
    "intergenic_variant",
    "sequence_variant"
]


# Create new columns and set initial values to 0
for term in terms:
    pd_En3[term] = 0

# Iterate over each row and update the corresponding columns
for index, row in pd_En3.iterrows():
    variant_list = row['Consequence']
    for variant in variant_list:
        if variant in terms:
            pd_En3.at[index, variant] = 1

# Drop the 'variants' column if needed
pd_En3 = pd_En3.drop('Consequence', axis=1)
# One-hot encode the new column
#one_hot_encoded1 = pd.get_dummies(pd_En3['Consequence'].apply(pd.Series).stack()).sum(level=0)
# one_hot_encoded2 = pd.get_dummies(pd_En3['Amino_acids'])
# one_hot_encoded3 = pd.get_dummies(pd_En3['Codons'])
pd_En3['FLAGS'] = pd_En2['FLAGS'].str.split(',')
one_hot_encoded4 = pd.get_dummies(pd_En3['FLAGS'].apply(pd.Series).stack()).sum(level=0)
pd_En3.drop(columns=['FLAGS'])
# Merge the one-hot encoded columns with the original DataFrame
pd_En3 = pd.concat([pd_En3, #one_hot_encoded1,#one_hot_encoded2,one_hot_encoded3,
              one_hot_encoded4], axis=1)

# Print the modified DataFrame
# pd_En3.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Odata_pd_En3.csv', index=False)
pd_En3

<ipython-input-138-58b0f3eeec80>:67: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  one_hot_encoded4 = pd.get_dummies(pd_En3['FLAGS'].apply(pd.Series).stack()).sum(level=0)

,#Uploaded_variation,Allele,SYMBOL,Gene,Feature_type,Feature,EXON,INTRON,HGVSc,HGVSp,...,TFBS_ablation,TFBS_amplification,TF_binding_site_variant,regulatory_region_ablation,regulatory_region_amplification,regulatory_region_variant,intergenic_variant,sequence_variant,cds_end_NF,cds_start_NF
0,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000310638.9,NaN,9/11,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
1,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000371905.1,NaN,9/10,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
2,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000462347.5,NaN,7/9,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000465874.5,NaN,6/7,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
4,1_46933071_G/C,C,CYP4A11,ENSG00000187048,Transcript,ENST00000468629.5,NaN,9/10,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3837,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518907.3,NaN,1/16,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3838,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518909.3,NaN,1/10,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3839,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_011518910.3,NaN,1/11,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3840,9_84331502_A/C,C,SLC28A3,64078,Transcript,XM_047423712.1,NaN,1/13,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3841,9_84331502_A/C,C,NaN,NaN,RegulatoryFeature,ENSR00000884838,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,NaN,NaN

In [ ]:
pd_En4 = pd_En3
columns = terms+one_hot_encoded4.columns.tolist()
      #one_hot_encoded1.columns.tolist() \
      # one_hot_encoded2.columns.tolist()\+
      #  one_hot_encoded3.columns.tolist()\+

pd_En4 = pd_En4.groupby("#Uploaded_variation")[columns].max().reset_index()
pd_En4 = pd_En4.merge(grouped_df, on='#Uploaded_variation')
pd_En4 = pd_En4.merge(mean_df, on='#Uploaded_variation')
pd_En4.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_pd_En4.csv')
pd_En4

,#Uploaded_variation,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,start_lost,transcript_amplification,feature_elongation,...,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AF,gnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF
0,10_94759304_C/T,0,0,0,0,0,0,0,0,0,...,0.22690,0.26430,0.133900,0.21280,0.009441,0.18560,0.227800,0.219900,0.20230,0.162900
1,10_94761288_C/T,0,0,0,0,0,0,0,0,0,...,0.11140,0.02961,0.056780,0.08439,0.099770,0.05202,0.075950,0.066750,0.07854,0.121100
2,10_94761665_G/A,0,0,0,0,0,0,0,0,0,...,0.07745,0.00000,0.007071,0.00000,0.000192,0.00000,0.009494,0.000265,0.01291,0.000622
3,10_94761817_T/G,0,0,0,0,0,0,0,0,0,...,0.07589,0.02961,0.052280,0.08040,0.099110,0.05112,0.072780,0.063780,0.06781,0.119500
4,10_94761900_C/A,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,8_104451462_A/G,0,0,0,0,0,0,0,0,0,...,0.29170,0.46040,0.412600,0.46680,0.352200,0.56480,0.414600,0.559200,0.46030,0.386600
354,8_104466921_A/G,0,0,0,0,0,0,0,0,0,...,0.65710,0.55960,0.526000,0.62850,0.725100,0.64850,0.653800,0.595300,0.60510,0.614700
355,9_84286011_G/A,0,0,0,0,0,0,0,0,0,...,0.30780,0.05811,0.187500,0.22220,0.148800,0.06052,0.139200,0.139800,0.19120,0.131500
356,9_84294635_G/A,0,0,0,0,0,0,0,0,0,...,0.10220,0.05811,0.153500,0.21380,0.149100,0.05388,0.117100,0.124700,0.14430,0.120400
357,9_84331502_A/C,0,0,0,0,0,0,0,0,0,...,0.53520,0.60790,0.590400,0.56220,0.403300,0.47190,0.585400,0.526900,0.56390,0.457100

In [ ]:
pd_En5 = pd.DataFrame(pd_En4)
pd_En5[['chr', 'Location1', 'baseChange']] = pd_En4['#Uploaded_variation'].str.split('_', expand=True)
pd_En5[['Ref', 'Alter']] = pd_En5['baseChange'].str.split('/', expand=True)
pd_En5.drop('#Uploaded_variation', axis=1, inplace=True)
pd_En5[['chr', 'Location1']] = pd_En5[['chr', 'Location1']].astype(int)
pd_En5

,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,start_lost,transcript_amplification,feature_elongation,feature_truncation,...,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF,chr,Location1,baseChange,Ref,Alter
0,0,0,0,0,0,0,0,0,0,0,...,0.18560,0.227800,0.219900,0.20230,0.162900,10,94759304,C/T,C,T
1,0,0,0,0,0,0,0,0,0,0,...,0.05202,0.075950,0.066750,0.07854,0.121100,10,94761288,C/T,C,T
2,0,0,0,0,0,0,0,0,0,0,...,0.00000,0.009494,0.000265,0.01291,0.000622,10,94761665,G/A,G,A
3,0,0,0,0,0,0,0,0,0,0,...,0.05112,0.072780,0.063780,0.06781,0.119500,10,94761817,T/G,T,G
4,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,10,94761900,C/A,C,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,0,0,0,0,0,0,0,0,0,0,...,0.56480,0.414600,0.559200,0.46030,0.386600,8,104451462,A/G,A,G
354,0,0,0,0,0,0,0,0,0,0,...,0.64850,0.653800,0.595300,0.60510,0.614700,8,104466921,A/G,A,G
355,0,0,0,0,0,0,0,0,0,0,...,0.06052,0.139200,0.139800,0.19120,0.131500,9,84286011,G/A,G,A
356,0,0,0,0,0,0,0,0,0,0,...,0.05388,0.117100,0.124700,0.14430,0.120400,9,84294635,G/A,G,A
357,0,0,0,0,0,0,0,0,0,0,...,0.47190,0.585400,0.526900,0.56390,0.457100,9,84331502,A/C,A,C

Debug/Redesign (?); it has different feature numbers with OData (different numbers of "Combined", "Amnio Acid" and "Codons") - Can I fill the missing automatically? As the column names are the same?

In [ ]:
pd_En5[['chr', 'Location1']].dtypes

chr          int64
Location1    int64
dtype: object

##PhastCons & phyloP features extraction

In [ ]:
# *Check with the inputs dataset: filtered number of entries: 358.

In [ ]:
file_path = f"/content/gdrive/My Drive/Colab Notebooks/ADME Project/C_phastCons4way.bedgraph"
df = pd.read_csv(file_path, delimiter='\t',header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,chr1,46933070,46933071,G,C,0,CYP4A11,Extended,0,chr1,46933070,46933071,id-31021848,0.027
1,chr1,59848823,59848824,T,G,0,CYP2J2,Extended,0,chr1,59848823,59848824,id-40196595,0.001
2,chr1,59893750,59893751,G,A,1,CYP2J2,Extended,0,chr1,59893750,59893751,id-40228157,0.836
3,chr1,59893823,59893824,G,A,1,CYP2J2,Extended,0,chr1,59893823,59893824,id-40228230,0.782
4,chr1,59904940,59904941,T,A,1,CYP2J2,Extended,0,chr1,59904940,59904941,id-40238656,0.969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,chr8,104451461,104451462,A,G,0,DPYS,Others,0,chr8,104451461,104451462,id-1705217359,0.007
316,chr8,104466920,104466921,A,G,1,DPYS,Others,0,chr8,104466920,104466921,id-1705231176,0.013
317,chr9,84286010,84286011,G,A,1,SLC28A3,Extended,0,chr9,84286010,84286011,id-1774177529,0.981
318,chr9,84294634,84294635,G,A,1,SLC28A3,Extended,0,chr9,84294634,84294635,id-1774185310,0.017
319,chr9,84331501,84331502,A,C,0,SLC28A3,Extended,0,chr9,84331501,84331502,id-1774212103,0.004

In [ ]:
num = [4, 7, 17 ,20, 30, 100]
pd_Con = []
sorting_col = ['chr','Location1','Ref','Alter']
for x in num:
    file_path = f"/content/gdrive/My Drive/Colab Notebooks/ADME Project/C_phastCons{x}way.bedgraph"
    df = pd.read_csv(file_path, delimiter='\t',header=None)
    # Specify the column names
    column_names = ['Chromo',	'Location',	'Location1',	'Ref',	'Alter',	'Label',
            'Gene',	'Type','Mark', 'Match1',	'Match2',	'Match3',	'Match4',	'Score']

    # Assign the column names to the DataFrame
    df.columns = column_names

    # Delete duplicates1
    df = df.drop_duplicates(subset=['Chromo',	'Location',	'Location1',	'Ref',	'Alter',\
                      'Label','Gene', 'Type', 'Mark'], keep='first')

    # Delete duplicates2
    filterd_df = df[~((df.duplicated(subset=['Chromo','Location1','Ref','Alter']) & (df['Label'] == 0)) |
      ((df['Label'] == 1) & df.duplicated(subset=['Chromo','Location1','Ref','Alter']) & (df.groupby(by=['Chromo','Location1','Ref',	'Alter'])['Label'].transform('max') == 1)))]

    # Prepare for merging and sorting
    filterd_df['chr'] = filterd_df['Chromo'].str.extract(r'(\d+)')
    filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)

    # Sorting
    filterd_df_sorted = filterd_df.sort_values(by=sorting_col)

    pd_Con.append(filterd_df_sorted)

# Access the individual DataFrames in the list
for i, df in enumerate(pd_Con):
    print(f"DataFrame {i+1}:")
    print(df.shape, '\n')
    # print(df)

DataFrame 1:
(320, 15)

DataFrame 2:
(358, 15)

DataFrame 3:
(358, 15)

DataFrame 4:
(358, 15)

DataFrame 5:
(358, 15)

DataFrame 6:
(358, 15)

In [ ]:
# Merge "Score" columns from all DataFrames
new_pd_Con = []
for i, df in enumerate(pd_Con):
    name = f"Con{num[i]}"
    df.rename(columns={'Score': name}, inplace=True)
    new_pd_Con.append(df[['chr','Location1','Ref','Alter',name]])
# Print
new_pd_Con

[     chr  Location1 Ref Alter   Con4
 0      1   46933071   G     C  0.027
 1      1   59848824   T     G  0.001
 2      1   59893751   G     A  0.836
 3      1   59893824   G     A  0.782
 4      1   59904941   T     A  0.969
 ..   ...        ...  ..   ...    ...
 266   22   42128807   C     T  0.027
 267   22   42128945   C     T  0.063
 268   22   42129033   C     T  0.030
 269   22   42130692   G     A  0.913
 270   22   42130718   C     T  0.952

 [320 rows x 5 columns],
      chr  Location1 Ref Alter   Con7
 0      1   46933071   G     C  0.015
 1      1   59848824   T     G  0.002
 2      1   59893751   G     A  0.907
 3      1   59893824   G     A  0.489
 4      1   59904941   T     A  0.994
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.075
 302   22   42130692   G     A  0.321
 303   22   42130718   C     T  0.226
 304   22   42131289   G     T  0.034
 305   22   42132375   G     C  0.192

 [358 rows x 5 columns],
      chr  Location1 Ref Alter  Con17
 0      1   46933071   G     C  0.002
 1      1   59848824   T     G  0.003
 2      1   59893751   G     A  0.992
 3      1   59893824   G     A  0.995
 4      1   59904941   T     A  0.884
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.016
 302   22   42130692   G     A  0.082
 303   22   42130718   C     T  0.678
 304   22   42131289   G     T  0.002
 305   22   42132375   G     C  0.004

 [358 rows x 5 columns],
      chr  Location1 Ref Alter  Con20
 0      1   46933071   G     C  0.002
 1      1   59848824   T     G  0.002
 2      1   59893751   G     A  0.998
 3      1   59893824   G     A  0.987
 4      1   59904941   T     A  0.960
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.016
 302   22   42130692   G     A  0.255
 303   22   42130718   C     T  0.829
 304   22   42131289   G     T  0.002
 305   22   42132375   G     C  0.004

 [358 rows x 5 columns],
      chr  Location1 Ref Alter  Con30
 0      1   46933071   G     C  0.007
 1      1   59848824   T     G  0.000
 2      1   59893751   G     A  1.000
 3      1   59893824   G     A  0.975
 4      1   59904941   T     A  0.955
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.024
 302   22   42130692   G     A  0.448
 303   22   42130718   C     T  0.834
 304   22   42131289   G     T  0.000
 305   22   42132375   G     C  0.000

 [358 rows x 5 columns],
      chr  Location1 Ref Alter  Con100
 0      1   46933071   G     C   0.012
 1      1   59848824   T     G   0.000
 2      1   59893751   G     A   1.000
 3      1   59893824   G     A   0.766
 4      1   59904941   T     A   1.000
 ..   ...        ...  ..   ...     ...
 301   22   42129033   C     T   0.000
 302   22   42130692   G     A   1.000
 303   22   42130718   C     T   0.000
 304   22   42131289   G     T   0.000
 305   22   42132375   G     C   0.339

 [358 rows x 5 columns]]

In [ ]:
pd_En5_sorted = pd_En5.sort_values(by=sorting_col)
print(pd_En5_sorted[sorting_col])

     chr  Location1 Ref Alter
232    1   46933071   G     C
233    1   59848824   T     G
234    1   59893751   G     A
235    1   59893824   G     A
236    1   59904941   T     A
..   ...        ...  ..   ...
252   22   42129033   C     T
253   22   42130692   G     A
254   22   42130718   C     T
255   22   42131289   G     T
256   22   42132375   G     C

[358 rows x 4 columns]

In [ ]:
# Move the sorting col to the very first
pd_En5_sorted = pd_En5_sorted[sorting_col + [col for col in pd_En5_sorted.columns if col not in sorting_col]]
print(pd_En5_sorted.iloc[:,:4])
print(pd_En5.shape)

     chr  Location1 Ref Alter
232    1   46933071   G     C
233    1   59848824   T     G
234    1   59893751   G     A
235    1   59893824   G     A
236    1   59904941   T     A
..   ...        ...  ..   ...
252   22   42129033   C     T
253   22   42130692   G     A
254   22   42130718   C     T
255   22   42131289   G     T
256   22   42132375   G     C

[358 rows x 4 columns]
(358, 74)

In [ ]:
pd_En6 = pd.DataFrame(pd_En5_sorted)
print(pd_En6.shape)

(358, 74)

In [ ]:
for i in range(len(new_pd_Con)):
  pd_En6 = pd.merge_ordered(pd_En6,new_pd_Con[i],left_on=sorting_col,right_on=sorting_col,how='left',fill_method="ffill")
print(pd_En6.shape)

(358, 80)

In [ ]:
pd_P = []
for x in num:
    file_path = f"/content/gdrive/My Drive/Colab Notebooks/ADME Project/C_phyloP{x}way.bedgraph"
    df = pd.read_csv(file_path, delimiter='\t',header=None)
    # Specify the column names
    column_names = ['Chromo',	'Location',	'Location1',	'Ref',	'Alter',	'Label',
            'Gene',	'Type','Mark', 'Match1',	'Match2',	'Match3',	'Match4',	'Score']

    # Assign the column names to the DataFrame
    df.columns = column_names

    # Delete duplicates1
    df = df.drop_duplicates(subset=['Chromo',	'Location',	'Location1',	'Ref',	'Alter',\
                      'Label','Gene', 'Type', 'Mark'], keep='first')

    # Delete duplicates2
    filterd_df = df[~((df.duplicated(subset=['Chromo','Location1','Ref','Alter']) & (df['Label'] == 0)) |
      ((df['Label'] == 1) & df.duplicated(subset=['Chromo','Location1','Ref','Alter']) & (df.groupby(by=['Chromo','Location1','Ref',	'Alter'])['Label'].transform('max') == 1)))]

    # Prepare for merging and sorting
    filterd_df['chr'] = filterd_df['Chromo'].str.extract(r'(\d+)')
    filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)

    # Sorting
    filterd_df_sorted = filterd_df.sort_values(by=sorting_col)

    pd_P.append(filterd_df_sorted)

# Access the individual DataFrames in the list
for i, df in enumerate(pd_P):
    print(f"DataFrame {i+1}:")
    print(df.shape, '\n')
    # print(df)

DataFrame 1:
(320, 15)

DataFrame 2:
(358, 15)

DataFrame 3:
(358, 15)

DataFrame 4:
(358, 15)

DataFrame 5:
(358, 15)

DataFrame 6:
(358, 15)

In [ ]:
# Merge "Score" columns from all DataFrames
new_pd_P = []
for i, df in enumerate(pd_P):
    name = f"P{num[i]}"
    df.rename(columns={'Score': name}, inplace=True)
    new_pd_P.append(df[['chr','Location1','Ref','Alter',name]])
# Print
new_pd_P

[     chr  Location1 Ref Alter     P4
 0      1   46933071   G     C  0.606
 1      1   59848824   T     G -1.635
 2      1   59893751   G     A  0.606
 3      1   59893824   G     A  0.606
 4      1   59904941   T     A  0.669
 ..   ...        ...  ..   ...    ...
 266   22   42128807   C     T  0.517
 267   22   42128945   C     T  0.517
 268   22   42129033   C     T  0.517
 269   22   42130692   G     A  0.543
 270   22   42130718   C     T  0.517

 [320 rows x 5 columns],
      chr  Location1 Ref Alter     P7
 0      1   46933071   G     C -0.045
 1      1   59848824   T     G -0.167
 2      1   59893751   G     A  0.917
 3      1   59893824   G     A -0.788
 4      1   59904941   T     A  0.991
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.791
 302   22   42130692   G     A  0.917
 303   22   42130718   C     T  0.033
 304   22   42131289   G     T  0.697
 305   22   42132375   G     C  0.060

 [358 rows x 5 columns],
      chr  Location1 Ref Alter    P17
 0      1   46933071   G     C -0.846
 1      1   59848824   T     G -0.172
 2      1   59893751   G     A  0.672
 3      1   59893824   G     A  0.676
 4      1   59904941   T     A  0.665
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.549
 302   22   42130692   G     A  0.503
 303   22   42130718   C     T  0.449
 304   22   42131289   G     T  0.503
 305   22   42132375   G     C -0.742

 [358 rows x 5 columns],
      chr  Location1 Ref Alter    P20
 0      1   46933071   G     C -0.936
 1      1   59848824   T     G  0.097
 2      1   59893751   G     A  1.045
 3      1   59893824   G     A  1.048
 4      1   59904941   T     A  1.061
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.810
 302   22   42130692   G     A  0.907
 303   22   42130718   C     T  0.812
 304   22   42131289   G     T  0.630
 305   22   42132375   G     C -0.751

 [358 rows x 5 columns],
      chr  Location1 Ref Alter    P30
 0      1   46933071   G     C -0.281
 1      1   59848824   T     G -0.706
 2      1   59893751   G     A  1.172
 3      1   59893824   G     A  0.189
 4      1   59904941   T     A  1.138
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T  0.892
 302   22   42130692   G     A  1.115
 303   22   42130718   C     T  0.975
 304   22   42131289   G     T -0.450
 305   22   42132375   G     C -0.634

 [358 rows x 5 columns],
      chr  Location1 Ref Alter   P100
 0      1   46933071   G     C -0.079
 1      1   59848824   T     G -0.571
 2      1   59893751   G     A  4.375
 3      1   59893824   G     A  0.083
 4      1   59904941   T     A  7.603
 ..   ...        ...  ..   ...    ...
 301   22   42129033   C     T -0.155
 302   22   42130692   G     A  7.374
 303   22   42130718   C     T  0.832
 304   22   42131289   G     T -1.093
 305   22   42132375   G     C -0.693

 [358 rows x 5 columns]]

In [ ]:
for i in range(len(new_pd_P)):
  pd_En6 = pd.merge_ordered(pd_En6,new_pd_P[i],left_on=sorting_col,right_on=sorting_col,how='left',fill_method="ffill")
print(pd_En6.shape)

(358, 86)

## Finalizing

In [ ]:
Con_sorted = pd_Con[-1].sort_values(by = sorting_col)
Con_sorted = Con_sorted[['chr','Location1','Ref','Alter','Label']]
Con_sorted

     chr  Location1 Ref Alter  Label
0      1   46933071   G     C      0
1      1   59848824   T     G      0
2      1   59893751   G     A      1
3      1   59893824   G     A      1
4      1   59904941   T     A      1
..   ...        ...  ..   ...    ...
301   22   42129033   C     T      1
302   22   42130692   G     A      1
303   22   42130718   C     T      1
304   22   42131289   G     T      0
305   22   42132375   G     C      1

[358 rows x 5 columns]

In [ ]:
pd_En6.iloc[:,:4]

     chr  Location1 Ref Alter
0      1   46933071   G     C
1      1   59848824   T     G
2      1   59893751   G     A
3      1   59893824   G     A
4      1   59904941   T     A
..   ...        ...  ..   ...
353   22   42129033   C     T
354   22   42130692   G     A
355   22   42130718   C     T
356   22   42131289   G     T
357   22   42132375   G     C

[358 rows x 4 columns]

In [ ]:
pd_En7 = pd_En6 = pd.merge_ordered(pd_En6,Con_sorted,left_on=sorting_col,right_on=sorting_col,how='left',fill_method="ffill")
pd_En7

,chr,Location1,Ref,Alter,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,...,Con20,Con30,Con100,P4,P7,P17,P20,P30,P100,Label
0,1,46933071,G,C,0,0,0,0,0,0,...,0.002,0.007,0.012,0.606,-0.045,-0.846,-0.936,-0.281,-0.079,0
1,1,59848824,T,G,0,0,0,0,0,0,...,0.002,0.000,0.000,-1.635,-0.167,-0.172,0.097,-0.706,-0.571,0
2,1,59893751,G,A,0,0,0,0,0,0,...,0.998,1.000,1.000,0.606,0.917,0.672,1.045,1.172,4.375,1
3,1,59893824,G,A,0,0,0,0,0,0,...,0.987,0.975,0.766,0.606,-0.788,0.676,1.048,0.189,0.083,1
4,1,59904941,T,A,0,0,0,0,0,0,...,0.960,0.955,1.000,0.669,0.991,0.665,1.061,1.138,7.603,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,22,42129033,C,T,0,0,0,0,0,0,...,0.016,0.024,0.000,0.517,0.791,0.549,0.810,0.892,-0.155,1
354,22,42130692,G,A,0,0,0,0,0,0,...,0.255,0.448,1.000,0.543,0.917,0.503,0.907,1.115,7.374,1
355,22,42130718,C,T,0,0,0,0,0,0,...,0.829,0.834,0.000,0.517,0.033,0.449,0.812,0.975,0.832,1
356,22,42131289,G,T,0,0,0,0,0,0,...,0.002,0.000,0.000,0.517,0.697,0.503,0.630,-0.450,-1.093,0
357,22,42132375,G,C,0,0,0,0,0,0,...,0.004,0.000,0.339,0.517,0.060,-0.742,-0.751,-0.634,-0.693,1

In [ ]:
# Check duplicates
pd_En8 = pd_En7.drop_duplicates(subset=sorting_col, keep='first')
print(pd_En8.shape)
df_duplicates = pd_En7[~pd_En7.index.isin(pd_En8.index)]
print(df_duplicates.shape)
print(df_duplicates)

(358, 87)
(0, 87)
Empty DataFrame
Columns: [chr, Location1, Ref, Alter, transcript_ablation, splice_acceptor_variant, splice_donor_variant, stop_gained, frameshift_variant, stop_lost, start_lost, transcript_amplification, feature_elongation, feature_truncation, inframe_insertion, inframe_deletion, missense_variant, protein_altering_variant, splice_donor_5th_base_variant, splice_region_variant, splice_donor_region_variant, splice_polypyrimidine_tract_variant, incomplete_terminal_codon_variant, start_retained_variant, stop_retained_variant, synonymous_variant, coding_sequence_variant, mature_miRNA_variant, 5_prime_UTR_variant, 3_prime_UTR_variant, non_coding_transcript_exon_variant, intron_variant, NMD_transcript_variant, non_coding_transcript_variant, coding_transcript_variant, upstream_gene_variant, downstream_gene_variant, TFBS_ablation, TFBS_amplification, TF_binding_site_variant, regulatory_region_ablation, regulatory_region_amplification, regulatory_region_variant, intergenic_variant, sequence_variant, cds_end_NF, cds_start_NF, maxDis, minDis, meanDis, maxSIFT, minSIFT, meanSIFT, maxPolyPhen, minPolyPhen, mmeanPolyPhen, AF, AFR_AF, AMR_AF, EAS_AF, EUR_AF, SAS_AF, gnomADg_AF, gnomADg_AFR_AF, gnomADg_AMI_AF, gnomADg_AMR_AF, gnomADg_ASJ_AF, gnomADg_EAS_AF, gnomADg_FIN_AF, gnomADg_MID_AF, gnomADg_NFE_AF, gnomADg_OTH_AF, gnomADg_SAS_AF, baseChange, Con4, Con7, Con17, Con20, Con30, Con100, P4, P7, P17, P20, P30, P100, Label]
Index: []

[0 rows x 87 columns]

## Add 'baseChange' feature

In [ ]:
pd_all = pd.concat((pd_En8,pd.get_dummies(pd_En8.baseChange)),1)
pd_all = pd_all.drop('baseChange', axis=1)
pd_all

<ipython-input-157-512d83ba1c9d>:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd_all = pd.concat((pd_En8,pd.get_dummies(pd_En8.baseChange)),1)

,chr,Location1,Ref,Alter,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,...,A/T,C/A,C/G,C/T,G/A,G/C,G/T,T/A,T/C,T/G
0,1,46933071,G,C,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,59848824,T,G,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,59893751,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1,59893824,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,59904941,T,A,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,22,42129033,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
354,22,42130692,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
355,22,42130718,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
356,22,42131289,G,T,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
357,22,42132375,G,C,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
# No fill
pd_all.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Cdata_nof.csv', index=False)
# Fill NaN with zero
df_filled_zero = pd_all.fillna(0)
df_filled_zero.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Cdata_fzero.csv', index=False)

In [ ]:
df_filled_mean = pd_all.fillna(pd_all.mean())
df_filled_zero.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_fmean.csv', index=False)

<ipython-input-159-ec2b8b46ce3c>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled_mean = pd_all.fillna(pd_all.mean())

Conclusion: since the mean values will be effected by the dataset itself (hence the training and testing data will have different imputation value), the mean method is abandoned.

In [ ]:
# Combine S and C datasets
Sdata_fzero = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_fzero.csv')
Sdata_fzero

,chr,Location1,Ref,Alter,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,...,A/T,C/A,C/G,C/T,G/A,G/C,G/T,T/A,T/C,T/G
0,1,97057448,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,97073844,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,97077914,T,C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,97078076,A,G,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,97078196,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,19,41012868,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
338,19,41016810,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
339,19,41018248,T,C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
340,22,23898914,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
341,22,24034135,A,G,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Check column's name and order
for i, col in enumerate(df_filled_zero.columns):
  col2 = Sdata_fzero.columns[i]
  if col2 != col:
    print(f"Cdata column: {col}, Sdata column: {col2}; ")

In [ ]:
pd_gkb = pd.concat([Sdata_fzero, df_filled_zero], axis=0)
pd_gkb.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/GKBdata_fzero.csv', index=False)
pd_gkb

,chr,Location1,Ref,Alter,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,...,A/T,C/A,C/G,C/T,G/A,G/C,G/T,T/A,T/C,T/G
0,1,97057448,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,97073844,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,97077914,T,C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,97078076,A,G,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,97078196,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,22,42129033,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
354,22,42130692,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
355,22,42130718,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
356,22,42131289,G,T,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
357,22,42132375,G,C,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0