<a href="https://colab.research.google.com/github/katha815/ADME-Classifier/blob/main/SData_Features_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Ensembl Features Extraction

In [ ]:
pd_En = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_Ensembl.txt", delimiter='\t')
pd_En.replace('-', np.nan, inplace=True)
pd_En

,#Uploaded_variation,Location,Allele,Consequence,IMPACT,SYMBOL,Gene,Feature_type,Feature,BIOTYPE,...,gnomADg_SAS_AF,CLIN_SIG,SOMATIC,PHENO,PUBMED,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,TRANSCRIPTION_FACTORS
0,1_97057448_G/A,1:97057448-97057448,A,intergenic_variant,MODIFIER,NaN,NaN,NaN,NaN,NaN,...,0.005187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1_97073844_G/A,1:97073844-97073844,A,downstream_gene_variant,MODIFIER,DPYD,ENSG00000188641,Transcript,ENST00000370192.8,protein_coding,...,0.005178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1_97073844_G/A,1:97073844-97073844,A,downstream_gene_variant,MODIFIER,DPYD,1806,Transcript,NM_000110.4,protein_coding,...,0.005178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1_97073844_G/A,1:97073844-97073844,A,downstream_gene_variant,MODIFIER,DPYD,1806,Transcript,XM_005270562.3,protein_coding,...,0.005178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1_97073844_G/A,1:97073844-97073844,A,downstream_gene_variant,MODIFIER,DPYD,1806,Transcript,XM_017000507.2,protein_coding,...,0.005178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782,8_18400860_G/A,8:18400860-18400860,A,missense_variant,MODERATE,NAT2,ENSG00000156006,Transcript,ENST00000520116.1,protein_coding,...,0.07386,drug_response,"0,0,1","1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3783,8_18400860_G/A,8:18400860-18400860,A,missense_variant,MODERATE,NAT2,10,Transcript,NM_000015.3,protein_coding,...,0.07386,drug_response,"0,0,1","1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3784,8_18400860_G/A,8:18400860-18400860,A,missense_variant,MODERATE,NAT2,10,Transcript,XM_017012938.2,protein_coding,...,0.07386,drug_response,"0,0,1","1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3785,8_18415371_G/A,8:18415371-18415371,A,regulatory_region_variant,MODIFIER,NaN,NaN,RegulatoryFeature,ENSR00000848860,enhancer,...,0.7743,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
3786,8_18415371_G/A,8:18415371-18415371,A,intergenic_variant,MODIFIER,NaN,NaN,NaN,NaN,NaN,...,0.7743,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd_En.dtypes

#Uploaded_variation      object
Location                 object
Allele                   object
Consequence              object
IMPACT                   object
                          ...
MOTIF_NAME               object
MOTIF_POS                object
HIGH_INF_POS             object
MOTIF_SCORE_CHANGE       object
TRANSCRIPTION_FACTORS    object
Length: 63, dtype: object

In [ ]:
columns_to_convert = ['AF', 'AFR_AF', 'AMR_AF', 'EAS_AF', 'EUR_AF', 'SAS_AF', 'gnomADg_AF', 'gnomADg_AFR_AF', 'gnomADg_AMI_AF', 'gnomADg_AMR_AF', 'gnomADg_ASJ_AF', 'gnomADg_EAS_AF', 'gnomADg_FIN_AF', 'gnomADg_MID_AF', 'gnomADg_NFE_AF', 'gnomADg_OTH_AF', 'gnomADg_SAS_AF']

# Convert the specified columns to float type
pd_En[columns_to_convert] = pd_En[columns_to_convert].astype(float)
pd_En.dtypes

#Uploaded_variation      object
Location                 object
Allele                   object
Consequence              object
IMPACT                   object
                          ...
MOTIF_NAME               object
MOTIF_POS                object
HIGH_INF_POS             object
MOTIF_SCORE_CHANGE       object
TRANSCRIPTION_FACTORS    object
Length: 63, dtype: object

In [ ]:
pd_En2 = pd_En
# Extract first number after ":"
pd_En2['Location'] = pd_En['Location'].str.extract(r'\:(\d+)')

# Extract number inside brackets in "SIFT" column
pd_En2['SIFT'] = pd_En['SIFT'].str.extract(r'\((\d+\.\d+)\)').astype(float)

# Extract number inside brackets in "PolyPhen" column
pd_En2['PolyPhen'] = pd_En['PolyPhen'].str.extract(r'\((\d+\.\d+)\)').astype(float)

#DISTANCE
pd_En2['DISTANCE'] = pd_En['DISTANCE'].str.extract(r'(\d+)').astype(float)

# Print the modified DataFrame
pd_En2[['Location','SIFT','PolyPhen','DISTANCE']]

      Location  SIFT  PolyPhen  DISTANCE
0     97057448   NaN       NaN       NaN
1     97073844   NaN       NaN    3899.0
2     97073844   NaN       NaN    3899.0
3     97073844   NaN       NaN    3899.0
4     97073844   NaN       NaN    3899.0
...        ...   ...       ...       ...
3782  18400860  0.63     0.047       NaN
3783  18400860  0.51     0.047       NaN
3784  18400860  0.51     0.047       NaN
3785  18415371   NaN       NaN       NaN
3786  18415371   NaN       NaN       NaN

[3787 rows x 4 columns]

In [ ]:
# New data frame without the columns to be converted
pd_En3 = pd_En2
pd_En3 = pd_En3.drop(columns=['Location','SIFT','PolyPhen','DISTANCE'])
pd_En3 = pd_En3.drop(columns=['Consequence','IMPACT','BIOTYPE'])
pd_En3 = pd_En3.drop(columns=columns_to_convert)
pd_En3

,#Uploaded_variation,Allele,SYMBOL,Gene,Feature_type,Feature,EXON,INTRON,HGVSc,HGVSp,...,BAM_EDIT,CLIN_SIG,SOMATIC,PHENO,PUBMED,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,TRANSCRIPTION_FACTORS
0,1_97057448_G/A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1_97073844_G/A,A,DPYD,ENSG00000188641,Transcript,ENST00000370192.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1_97073844_G/A,A,DPYD,1806,Transcript,NM_000110.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1_97073844_G/A,A,DPYD,1806,Transcript,XM_005270562.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1_97073844_G/A,A,DPYD,1806,Transcript,XM_017000507.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782,8_18400860_G/A,A,NAT2,ENSG00000156006,Transcript,ENST00000520116.1,2/2,NaN,NaN,NaN,...,NaN,drug_response,"0,0,1","1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3783,8_18400860_G/A,A,NAT2,10,Transcript,NM_000015.3,2/2,NaN,NaN,NaN,...,NaN,drug_response,"0,0,1","1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3784,8_18400860_G/A,A,NAT2,10,Transcript,XM_017012938.2,3/3,NaN,NaN,NaN,...,NaN,drug_response,"0,0,1","1,1,1",NaN,NaN,NaN,NaN,NaN,NaN
3785,8_18415371_G/A,A,NaN,NaN,RegulatoryFeature,ENSR00000848860,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
3786,8_18415371_G/A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#1: Calculate max, min and mean for interested number columns
aggregations = {
    'DISTANCE': ['max', 'min', 'mean'],
    'SIFT': ['max', 'min', 'mean'],
    'PolyPhen': ['max', 'min', 'mean'],
}
grouped_df = pd_En2.groupby('#Uploaded_variation').agg(aggregations).reset_index()
print(grouped_df.columns)
grouped_df.columns = ['#Uploaded_variation','maxDis','minDis','meanDis',
              'maxSIFT','minSIFT','meanSIFT','maxPolyPhen','minPolyPhen','mmeanPolyPhen']
# mean_df = pd_En2.groupby('#Uploaded_variation')[columns_to_convert].agg('mean')
mean_df = pd_En2.groupby('#Uploaded_variation')[columns_to_convert].mean().reset_index()
grouped_df

MultiIndex([('#Uploaded_variation',     ''),
            (           'DISTANCE',  'max'),
            (           'DISTANCE',  'min'),
            (           'DISTANCE', 'mean'),
            (               'SIFT',  'max'),
            (               'SIFT',  'min'),
            (               'SIFT', 'mean'),
            (           'PolyPhen',  'max'),
            (           'PolyPhen',  'min'),
            (           'PolyPhen', 'mean')],
           )

,#Uploaded_variation,maxDis,minDis,meanDis,maxSIFT,minSIFT,meanSIFT,maxPolyPhen,minPolyPhen,mmeanPolyPhen
0,10_133526101_G/C,2543.0,158.0,1413.888889,NaN,NaN,NaN,NaN,NaN,NaN
1,10_133526341_C/T,2783.0,1022.0,1390.875000,NaN,NaN,NaN,NaN,NaN,NaN
2,10_133527044_A/G,4532.0,85.0,1055.545455,NaN,NaN,NaN,NaN,NaN,NaN
3,10_133527063_A/T,4513.0,104.0,1046.909091,NaN,NaN,NaN,NaN,NaN,NaN
4,10_133535040_T/A,2876.0,2172.0,2502.666667,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
337,8_18400593_G/A,NaN,NaN,NaN,0.06,0.04,0.0450,0.995,0.995,0.995
338,8_18400616_A/T,NaN,NaN,NaN,0.95,0.92,0.9425,0.003,0.003,0.003
339,8_18400806_G/A,NaN,NaN,NaN,NaN,NaN,NaN,0.001,0.001,0.001
340,8_18400860_G/A,NaN,NaN,NaN,0.63,0.51,0.5400,0.047,0.047,0.047
341,8_18415371_G/A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mean_df

,#Uploaded_variation,AF,AFR_AF,AMR_AF,EAS_AF,EUR_AF,SAS_AF,gnomADg_AF,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AF,gnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF
0,10_133526101_G/C,0.0853,0.0666,0.1225,0.2024,0.0408,0.0092,0.047420,0.057350,0.028510,0.09100,0.051870,0.2029,0.02194,0.009494,0.026530,0.04115,0.013260
1,10_133526341_C/T,0.0671,0.0015,0.1153,0.2024,0.0408,0.0092,0.033360,0.007588,0.028570,0.08750,0.051870,0.2038,0.02183,0.009494,0.026340,0.03500,0.013070
2,10_133527044_A/G,0.1681,0.1498,0.1009,0.2639,0.0268,0.2873,0.071350,0.128500,0.050440,0.07871,0.051840,0.2269,0.01798,0.060130,0.020630,0.07225,0.242400
3,10_133527063_A/T,0.5493,0.2398,0.6671,0.5407,0.8161,0.6186,0.673500,0.318300,0.865100,0.70350,0.749000,0.5758,0.89830,0.718400,0.849300,0.69090,0.647000
4,10_133535040_T/A,0.1607,0.0772,0.1729,0.2718,0.1054,0.2076,0.102200,0.081090,0.087720,0.12620,0.094520,0.2536,0.12390,0.034810,0.090080,0.10140,0.182500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,8_18400593_G/A,0.2650,0.2375,0.1715,0.2560,0.2823,0.3599,0.273300,0.258700,0.353100,0.20710,0.361500,0.2561,0.23410,0.286600,0.292100,0.27370,0.365900
338,8_18400616_A/T,0.0002,0.0000,0.0000,0.0000,0.0000,0.0010,0.000486,0.000217,0.000000,0.00000,0.001443,0.0000,0.00000,0.000000,0.000838,0.00000,0.000621
339,8_18400806_G/A,0.6771,0.6051,0.6268,0.9603,0.5616,0.6370,0.602100,0.601100,0.676900,0.63490,0.559400,0.9601,0.55300,0.538200,0.574200,0.59380,0.650100
340,8_18400860_G/A,0.0773,0.0287,0.1124,0.1796,0.0229,0.0685,0.041320,0.033100,0.002193,0.09582,0.020470,0.1509,0.03396,0.047770,0.025740,0.05455,0.073860
341,8_18415371_G/A,0.6450,0.5809,0.6499,0.4841,0.7565,0.7791,0.708500,0.620600,0.717100,0.66090,0.831900,0.4589,0.74560,0.788000,0.773800,0.73110,0.774300

In [ ]:
#1: Calculate max, min and mean for interested number columns

# Merge the aggregated data with the original DataFrame
pd_En3 = pd_En3.merge(grouped_df, on='#Uploaded_variation')
pd_En3 = pd_En3.merge(mean_df, on='#Uploaded_variation')
pd_En3

,#Uploaded_variation,Allele,SYMBOL,Gene,Feature_type,Feature,EXON,INTRON,HGVSc,HGVSp,...,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AF,gnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF
0,1_97057448_G/A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01007,0.021930,0.02188,0.01671,0.000193,0.02292,0.04430,0.03269,0.02871,0.005187
1,1_97073844_G/A,A,DPYD,ENSG00000188641,Transcript,ENST00000370192.8,NaN,NaN,NaN,NaN,...,0.00975,0.021930,0.02183,0.01355,0.000193,0.02282,0.04114,0.03238,0.02868,0.005178
2,1_97073844_G/A,A,DPYD,1806,Transcript,NM_000110.4,NaN,NaN,NaN,NaN,...,0.00975,0.021930,0.02183,0.01355,0.000193,0.02282,0.04114,0.03238,0.02868,0.005178
3,1_97073844_G/A,A,DPYD,1806,Transcript,XM_005270562.3,NaN,NaN,NaN,NaN,...,0.00975,0.021930,0.02183,0.01355,0.000193,0.02282,0.04114,0.03238,0.02868,0.005178
4,1_97073844_G/A,A,DPYD,1806,Transcript,XM_017000507.2,NaN,NaN,NaN,NaN,...,0.00975,0.021930,0.02183,0.01355,0.000193,0.02282,0.04114,0.03238,0.02868,0.005178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782,8_18400860_G/A,A,NAT2,ENSG00000156006,Transcript,ENST00000520116.1,2/2,NaN,NaN,NaN,...,0.03310,0.002193,0.09582,0.02047,0.150900,0.03396,0.04777,0.02574,0.05455,0.073860
3783,8_18400860_G/A,A,NAT2,10,Transcript,NM_000015.3,2/2,NaN,NaN,NaN,...,0.03310,0.002193,0.09582,0.02047,0.150900,0.03396,0.04777,0.02574,0.05455,0.073860
3784,8_18400860_G/A,A,NAT2,10,Transcript,XM_017012938.2,3/3,NaN,NaN,NaN,...,0.03310,0.002193,0.09582,0.02047,0.150900,0.03396,0.04777,0.02574,0.05455,0.073860
3785,8_18415371_G/A,A,NaN,NaN,RegulatoryFeature,ENSR00000848860,NaN,NaN,NaN,NaN,...,0.62060,0.717100,0.66090,0.83190,0.458900,0.74560,0.78800,0.77380,0.73110,0.774300
3786,8_18415371_G/A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.62060,0.717100,0.66090,0.83190,0.458900,0.74560,0.78800,0.77380,0.73110,0.774300

In [ ]:
#2: Combine text data from columns to create a new column
pd_En3['Consequence'] = pd_En2['Consequence'].str.split(',')
# Define the list of terms
terms = [
    "transcript_ablation",
    "splice_acceptor_variant",
    "splice_donor_variant",
    "stop_gained",
    "frameshift_variant",
    "stop_lost",
    "start_lost",
    "transcript_amplification",
    "feature_elongation",
    "feature_truncation",
    "inframe_insertion",
    "inframe_deletion",
    "missense_variant",
    "protein_altering_variant",
    "splice_donor_5th_base_variant",
    "splice_region_variant",
    "splice_donor_region_variant",
    "splice_polypyrimidine_tract_variant",
    "incomplete_terminal_codon_variant",
    "start_retained_variant",
    "stop_retained_variant",
    "synonymous_variant",
    "coding_sequence_variant",
    "mature_miRNA_variant",
    "5_prime_UTR_variant",
    "3_prime_UTR_variant",
    "non_coding_transcript_exon_variant",
    "intron_variant",
    "NMD_transcript_variant",
    "non_coding_transcript_variant",
    "coding_transcript_variant",
    "upstream_gene_variant",
    "downstream_gene_variant",
    "TFBS_ablation",
    "TFBS_amplification",
    "TF_binding_site_variant",
    "regulatory_region_ablation",
    "regulatory_region_amplification",
    "regulatory_region_variant",
    "intergenic_variant",
    "sequence_variant"
]


# Create new columns and set initial values to 0
for term in terms:
    pd_En3[term] = 0

# Iterate over each row and update the corresponding columns
for index, row in pd_En3.iterrows():
    variant_list = row['Consequence']
    for variant in variant_list:
        if variant in terms:
            pd_En3.at[index, variant] = 1

# Drop the 'variants' column if needed
pd_En3 = pd_En3.drop('Consequence', axis=1)
# One-hot encode the new column
#one_hot_encoded1 = pd.get_dummies(pd_En3['Consequence'].apply(pd.Series).stack()).sum(level=0)
# one_hot_encoded2 = pd.get_dummies(pd_En3['Amino_acids'])
# one_hot_encoded3 = pd.get_dummies(pd_En3['Codons'])
pd_En3['FLAGS'] = pd_En2['FLAGS'].str.split(',')
one_hot_encoded4 = pd.get_dummies(pd_En3['FLAGS'].apply(pd.Series).stack()).sum(level=0)
pd_En3.drop(columns=['FLAGS'])
# Merge the one-hot encoded columns with the original DataFrame
pd_En3 = pd.concat([pd_En3, #one_hot_encoded1,#one_hot_encoded2,one_hot_encoded3,
              one_hot_encoded4], axis=1)

# Print the modified DataFrame
# pd_En3.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Odata_pd_En3.csv', index=False)
pd_En3

<ipython-input-85-58b0f3eeec80>:67: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  one_hot_encoded4 = pd.get_dummies(pd_En3['FLAGS'].apply(pd.Series).stack()).sum(level=0)

,#Uploaded_variation,Allele,SYMBOL,Gene,Feature_type,Feature,EXON,INTRON,HGVSc,HGVSp,...,TFBS_ablation,TFBS_amplification,TF_binding_site_variant,regulatory_region_ablation,regulatory_region_amplification,regulatory_region_variant,intergenic_variant,sequence_variant,cds_end_NF,cds_start_NF
0,1_97057448_G/A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,NaN,NaN
1,1_97073844_G/A,A,DPYD,ENSG00000188641,Transcript,ENST00000370192.8,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
2,1_97073844_G/A,A,DPYD,1806,Transcript,NM_000110.4,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3,1_97073844_G/A,A,DPYD,1806,Transcript,XM_005270562.3,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
4,1_97073844_G/A,A,DPYD,1806,Transcript,XM_017000507.2,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782,8_18400860_G/A,A,NAT2,ENSG00000156006,Transcript,ENST00000520116.1,2/2,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3783,8_18400860_G/A,A,NAT2,10,Transcript,NM_000015.3,2/2,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3784,8_18400860_G/A,A,NAT2,10,Transcript,XM_017012938.2,3/3,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,NaN
3785,8_18415371_G/A,A,NaN,NaN,RegulatoryFeature,ENSR00000848860,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,NaN,NaN
3786,8_18415371_G/A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,NaN,NaN

In [ ]:
pd_En4 = pd_En3
columns = terms+one_hot_encoded4.columns.tolist()
      #one_hot_encoded1.columns.tolist() \
      # one_hot_encoded2.columns.tolist()\+
      #  one_hot_encoded3.columns.tolist()\+

pd_En4 = pd_En4.groupby("#Uploaded_variation")[columns].max().reset_index()
pd_En4 = pd_En4.merge(grouped_df, on='#Uploaded_variation')
pd_En4 = pd_En4.merge(mean_df, on='#Uploaded_variation')
pd_En4.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_pd_En4.csv')
pd_En4

,#Uploaded_variation,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,start_lost,transcript_amplification,feature_elongation,...,gnomADg_AFR_AF,gnomADg_AMI_AF,gnomADg_AMR_AF,gnomADg_ASJ_AF,gnomADg_EAS_AF,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF
0,10_133526101_G/C,0,0,0,0,0,0,0,0,0,...,0.057350,0.028510,0.09100,0.051870,0.2029,0.02194,0.009494,0.026530,0.04115,0.013260
1,10_133526341_C/T,0,0,0,0,0,0,0,0,0,...,0.007588,0.028570,0.08750,0.051870,0.2038,0.02183,0.009494,0.026340,0.03500,0.013070
2,10_133527044_A/G,0,0,0,0,0,0,0,0,0,...,0.128500,0.050440,0.07871,0.051840,0.2269,0.01798,0.060130,0.020630,0.07225,0.242400
3,10_133527063_A/T,0,0,0,0,0,0,0,0,0,...,0.318300,0.865100,0.70350,0.749000,0.5758,0.89830,0.718400,0.849300,0.69090,0.647000
4,10_133535040_T/A,0,0,0,0,0,0,0,0,0,...,0.081090,0.087720,0.12620,0.094520,0.2536,0.12390,0.034810,0.090080,0.10140,0.182500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,8_18400593_G/A,0,0,0,0,0,0,0,0,0,...,0.258700,0.353100,0.20710,0.361500,0.2561,0.23410,0.286600,0.292100,0.27370,0.365900
338,8_18400616_A/T,0,0,0,0,0,0,0,0,0,...,0.000217,0.000000,0.00000,0.001443,0.0000,0.00000,0.000000,0.000838,0.00000,0.000621
339,8_18400806_G/A,0,0,0,0,0,0,0,0,0,...,0.601100,0.676900,0.63490,0.559400,0.9601,0.55300,0.538200,0.574200,0.59380,0.650100
340,8_18400860_G/A,0,0,0,0,0,0,0,0,0,...,0.033100,0.002193,0.09582,0.020470,0.1509,0.03396,0.047770,0.025740,0.05455,0.073860
341,8_18415371_G/A,0,0,0,0,0,0,0,0,0,...,0.620600,0.717100,0.66090,0.831900,0.4589,0.74560,0.788000,0.773800,0.73110,0.774300

In [ ]:
pd_En5 = pd.DataFrame(pd_En4)
pd_En5[['chr', 'Location1', 'baseChange']] = pd_En4['#Uploaded_variation'].str.split('_', expand=True)
pd_En5[['Ref', 'Alter']] = pd_En5['baseChange'].str.split('/', expand=True)
pd_En5.drop('#Uploaded_variation', axis=1, inplace=True)
pd_En5[['chr', 'Location1']] = pd_En5[['chr', 'Location1']].astype(int)
pd_En5

,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,start_lost,transcript_amplification,feature_elongation,feature_truncation,...,gnomADg_FIN_AF,gnomADg_MID_AF,gnomADg_NFE_AF,gnomADg_OTH_AF,gnomADg_SAS_AF,chr,Location1,baseChange,Ref,Alter
0,0,0,0,0,0,0,0,0,0,0,...,0.02194,0.009494,0.026530,0.04115,0.013260,10,133526101,G/C,G,C
1,0,0,0,0,0,0,0,0,0,0,...,0.02183,0.009494,0.026340,0.03500,0.013070,10,133526341,C/T,C,T
2,0,0,0,0,0,0,0,0,0,0,...,0.01798,0.060130,0.020630,0.07225,0.242400,10,133527044,A/G,A,G
3,0,0,0,0,0,0,0,0,0,0,...,0.89830,0.718400,0.849300,0.69090,0.647000,10,133527063,A/T,A,T
4,0,0,0,0,0,0,0,0,0,0,...,0.12390,0.034810,0.090080,0.10140,0.182500,10,133535040,T/A,T,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,0,0,0,0,0,0,0,0,0,0,...,0.23410,0.286600,0.292100,0.27370,0.365900,8,18400593,G/A,G,A
338,0,0,0,0,0,0,0,0,0,0,...,0.00000,0.000000,0.000838,0.00000,0.000621,8,18400616,A/T,A,T
339,0,0,0,0,0,0,0,0,0,0,...,0.55300,0.538200,0.574200,0.59380,0.650100,8,18400806,G/A,G,A
340,0,0,0,0,0,0,0,0,0,0,...,0.03396,0.047770,0.025740,0.05455,0.073860,8,18400860,G/A,G,A
341,0,0,0,0,0,0,0,0,0,0,...,0.74560,0.788000,0.773800,0.73110,0.774300,8,18415371,G/A,G,A

Debug/Redesign (?); it has different feature numbers with OData (different numbers of "Combined", "Amnio Acid" and "Codons") - Can I fill the missing automatically? As the column names are the same?

In [ ]:
pd_En5[['chr', 'Location1']].dtypes

chr          int64
Location1    int64
dtype: object

##PhastCons & phyloP features extraction

In [ ]:
# *Check with the inputs dataset: filtered number of entries: 342.

In [ ]:
num = [4, 7, 17 ,20, 30, 100]
pd_Con = []
sorting_col = ['chr','Location1','Ref','Alter']
for x in num:
    file_path = f"/content/gdrive/My Drive/Colab Notebooks/ADME Project/S_phastCons{x}way.bedgraph"
    df = pd.read_csv(file_path, delimiter='\t',header=None)
    # Specify the column names
    column_names = ['Chromo',	'Location1',	'Location2',	'Ref',	'Alter',	'Label',	'chr',	'Gene',	'Match1',	'Match2',	'Match3',	'Match4',	'Score']

    # Assign the column names to the DataFrame
    df.columns = column_names

    # Delete duplicates1
    df = df.drop_duplicates(subset=['Chromo',	'Location1',	'Location2',	'Ref',	'Alter',	'Label', 'chr',	'Gene'], keep='first')

    # Delete duplicates2
    filterd_df = df[~((df.duplicated(subset=['Chromo','Location1','Ref','Alter']) & (df['Label'] == 0)) |
      ((df['Label'] == 1) & df.duplicated(subset=['Chromo','Location1','Ref',	'Alter']) & (df.groupby(by=['Chromo','Location1','Ref',	'Alter'])['Label'].transform('max') == 1)))]

    # Sorting
    filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
    filterd_df_sorted = filterd_df.sort_values(by=sorting_col)

    pd_Con.append(filterd_df_sorted)

# Access the individual DataFrames in the list
for i, df in enumerate(pd_Con):
    print(f"DataFrame {i+1}:")
    print(df.shape, '\n', df.head(3))
    # print(df)

DataFrame 1:
(302, 13)
   Chromo  Location1  Location2 Ref Alter  Label  chr  Gene Match1    Match2  \
0   chr1   97073844   97073844   G     A      1    1  DPYD   chr1  97073843
2   chr1   97077914   97077914   T     C      0    1  DPYD   chr1  97077913
4   chr1   97078076   97078076   A     G      0    1  DPYD   chr1  97078075

     Match3       Match4  Score
0  97073844  id-66602470  0.039
2  97077914  id-66606264  0.433
4  97078076  id-66606426  0.016
DataFrame 2:
(341, 13)
   Chromo  Location1  Location2 Ref Alter  Label  chr  Gene Match1    Match2  \
0   chr1   97057448   97057448   G     A      1    1  DPYD   chr1  97057447
2   chr1   97073844   97073844   G     A      1    1  DPYD   chr1  97073843
4   chr1   97077914   97077914   T     C      0    1  DPYD   chr1  97077913

     Match3       Match4  Score
0  97057448  id-94806841  0.234
2  97073844  id-94823237  0.358
4  97077914  id-94827307  0.302
DataFrame 3:
(342, 13)
   Chromo  Location1  Location2 Ref Alter  Label  chr  Gene Match1    Match2  \
0   chr1   97057448   97057448   G     A      1    1  DPYD   chr1  97057447
2   chr1   97073844   97073844   G     A      1    1  DPYD   chr1  97073843
4   chr1   97077914   97077914   T     C      0    1  DPYD   chr1  97077913

     Match3       Match4  Score
0  97057448  id-96049140  0.078
2  97073844  id-96065536  0.090
4  97077914  id-96069606  0.163
DataFrame 4:
(342, 13)
   Chromo  Location1  Location2 Ref Alter  Label  chr  Gene Match1    Match2  \
0   chr1   97057448   97057448   G     A      1    1  DPYD   chr1  97057447
2   chr1   97073844   97073844   G     A      1    1  DPYD   chr1  97073843
4   chr1   97077914   97077914   T     C      0    1  DPYD   chr1  97077913

     Match3       Match4  Score
0  97057448  id-96068955  0.077
2  97073844  id-96085351  0.047
4  97077914  id-96089421  0.682
DataFrame 5:
(342, 13)
   Chromo  Location1  Location2 Ref Alter  Label  chr  Gene Match1    Match2  \
0   chr1   97057448   97057448   G     A      1    1  DPYD   chr1  97057447
2   chr1   97073844   97073844   G     A      1    1  DPYD   chr1  97073843
4   chr1   97077914   97077914   T     C      0    1  DPYD   chr1  97077913

     Match3       Match4  Score
0  97057448  id-96253021  0.008
2  97073844  id-96269417  0.114
4  97077914  id-96273487  0.904
DataFrame 6:
(342, 13)
   Chromo  Location1  Location2 Ref Alter  Label  chr  Gene Match1    Match2  \
0   chr1   97057448   97057448   G     A      1    1  DPYD   chr1  97057447
2   chr1   97073844   97073844   G     A      1    1  DPYD   chr1  97073843
4   chr1   97077914   97077914   T     C      0    1  DPYD   chr1  97077913

     Match3       Match4  Score
0  97057448  id-95989863  0.092
2  97073844  id-96006259  0.004
4  97077914  id-96010329  0.069

<ipython-input-90-37a5809169d4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-90-37a5809169d4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-90-37a5809169d4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-90-37a5809169d4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-90-37a5809169d4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-90-37a5809169d4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)

In [ ]:
# Merge "Score" columns from all DataFrames
new_pd_Con = []
for i, df in enumerate(pd_Con):
    name = f"Con{num[i]}"
    df.rename(columns={'Score': name}, inplace=True)
    new_pd_Con.append(df[['chr','Location1','Ref','Alter',name]])
# Print
new_pd_Con

[     chr  Location1 Ref Alter   Con4
 0      1   97073844   G     A  0.039
 2      1   97077914   T     C  0.433
 4      1   97078076   A     G  0.016
 6      1   97078196   G     A  0.001
 8      1   97078208   C     T  0.003
 ..   ...        ...  ..   ...    ...
 368   19   41012693   T     A  0.137
 370   19   41012868   C     T  0.068
 372   19   41016810   C     T  0.342
 374   19   41018248   T     C  0.010
 400   22   23898914   C     T  0.001

 [302 rows x 5 columns],
      chr  Location1 Ref Alter   Con7
 0      1   97057448   G     A  0.234
 2      1   97073844   G     A  0.358
 4      1   97077914   T     C  0.302
 6      1   97078076   A     G  0.001
 8      1   97078196   G     A  0.000
 ..   ...        ...  ..   ...    ...
 388   19   41012868   C     T  0.036
 390   19   41016810   C     T  0.006
 392   19   41018248   T     C  0.052
 422   22   23898914   C     T  0.017
 424   22   24034135   A     G  0.150

 [341 rows x 5 columns],
      chr  Location1 Ref Alter  Con17
 0      1   97057448   G     A  0.078
 2      1   97073844   G     A  0.090
 4      1   97077914   T     C  0.163
 6      1   97078076   A     G  0.009
 8      1   97078196   G     A  0.001
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T  0.000
 392   19   41016810   C     T  0.537
 394   19   41018248   T     C  0.008
 424   22   23898914   C     T  0.000
 426   22   24034135   A     G  0.002

 [342 rows x 5 columns],
      chr  Location1 Ref Alter  Con20
 0      1   97057448   G     A  0.077
 2      1   97073844   G     A  0.047
 4      1   97077914   T     C  0.682
 6      1   97078076   A     G  0.001
 8      1   97078196   G     A  0.000
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T  0.001
 392   19   41016810   C     T  0.240
 394   19   41018248   T     C  0.001
 424   22   23898914   C     T  0.000
 426   22   24034135   A     G  0.002

 [342 rows x 5 columns],
      chr  Location1 Ref Alter  Con30
 0      1   97057448   G     A  0.008
 2      1   97073844   G     A  0.114
 4      1   97077914   T     C  0.904
 6      1   97078076   A     G  0.005
 8      1   97078196   G     A  0.005
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T  0.000
 392   19   41016810   C     T  0.088
 394   19   41018248   T     C  0.000
 424   22   23898914   C     T  0.000
 426   22   24034135   A     G  0.002

 [342 rows x 5 columns],
      chr  Location1 Ref Alter  Con100
 0      1   97057448   G     A   0.092
 2      1   97073844   G     A   0.004
 4      1   97077914   T     C   0.069
 6      1   97078076   A     G   0.000
 8      1   97078196   G     A   0.000
 ..   ...        ...  ..   ...     ...
 390   19   41012868   C     T   0.000
 392   19   41016810   C     T   0.000
 394   19   41018248   T     C   0.000
 424   22   23898914   C     T   0.000
 426   22   24034135   A     G   0.000

 [342 rows x 5 columns]]

In [ ]:
pd_En5_sorted = pd_En5.sort_values(by=sorting_col)
print(pd_En5_sorted[sorting_col])

     chr  Location1 Ref Alter
73     1   97057448   G     A
74     1   97073844   G     A
75     1   97077914   T     C
76     1   97078076   A     G
77     1   97078196   G     A
..   ...        ...  ..   ...
69    19   41012868   C     T
70    19   41016810   C     T
71    19   41018248   T     C
192   22   23898914   C     T
193   22   24034135   A     G

[342 rows x 4 columns]

In [ ]:
# Move the sorting col to the very first
pd_En5_sorted = pd_En5_sorted[sorting_col + [col for col in pd_En5_sorted.columns if col not in sorting_col]]
print(pd_En5_sorted.iloc[:,:4])
print(pd_En5.shape)

     chr  Location1 Ref Alter
73     1   97057448   G     A
74     1   97073844   G     A
75     1   97077914   T     C
76     1   97078076   A     G
77     1   97078196   G     A
..   ...        ...  ..   ...
69    19   41012868   C     T
70    19   41016810   C     T
71    19   41018248   T     C
192   22   23898914   C     T
193   22   24034135   A     G

[342 rows x 4 columns]
(342, 74)

In [ ]:
pd_En6 = pd.DataFrame(pd_En5_sorted)
print(pd_En6.shape)

(342, 74)

In [ ]:
for i in range(len(new_pd_Con)):
  pd_En6 = pd.merge_ordered(pd_En6,new_pd_Con[i],left_on=sorting_col,right_on=sorting_col,how='left',fill_method="ffill")
print(pd_En6.shape)

(342, 80)

In [ ]:
pd_P = []
for x in num:
    file_path = f"/content/gdrive/My Drive/Colab Notebooks/ADME Project/S_phyloP{x}way.bedgraph"
    df = pd.read_csv(file_path, delimiter='\t',header=None)
    # Specify the column names
    column_names = ['Chromo',	'Location1',	'Location2',	'Ref',	'Alter',	'Label',	'chr',	'Gene',	'Match1',	'Match2',	'Match3',	'Match4',	'Score']

    # Assign the column names to the DataFrame
    df.columns = column_names

    # Delete duplicates1
    df = df.drop_duplicates(subset=['Chromo',	'Location1',	'Location2',	'Ref',	'Alter',	'Label', 'chr',	'Gene'], keep='first')

    # Delete duplicates2
    filterd_df = df[~((df.duplicated(subset=['Chromo','Location1','Ref',	'Alter']) & (df['Label'] == 0)) |
      ((df['Label'] == 1) & df.duplicated(subset=['Chromo','Location1','Ref',	'Alter']) & (df.groupby(by=['Chromo','Location1','Ref',	'Alter'])['Label'].transform('max') == 1)))]

    # Sorting
    filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
    filterd_df_sorted = filterd_df.sort_values(by=sorting_col)

    pd_P.append(filterd_df_sorted)

# Access the individual DataFrames in the list
for i, df in enumerate(pd_P):
    print(f"DataFrame {i+1}:")
    print(df.shape, '\n')
    # print(df)

DataFrame 1:
(302, 13)

DataFrame 2:
(341, 13)

DataFrame 3:
(342, 13)

DataFrame 4:
(342, 13)

DataFrame 5:
(342, 13)

DataFrame 6:
(342, 13)

<ipython-input-96-d35bdc947426>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-96-d35bdc947426>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-96-d35bdc947426>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-96-d35bdc947426>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-96-d35bdc947426>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)
<ipython-input-96-d35bdc947426>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterd_df[['chr','Location1']] = filterd_df[['chr','Location1']].astype(int)

In [ ]:
# Merge "Score" columns from all DataFrames
new_pd_P = []
for i, df in enumerate(pd_P):
    name = f"P{num[i]}"
    df.rename(columns={'Score': name}, inplace=True)
    new_pd_P.append(df[['chr','Location1','Ref','Alter',name]])
# Print
new_pd_P

[     chr  Location1 Ref Alter     P4
 0      1   97073844   G     A  0.000
 2      1   97077914   T     C  0.669
 4      1   97078076   A     G -1.352
 6      1   97078196   G     A -1.424
 8      1   97078208   C     T -0.200
 ..   ...        ...  ..   ...    ...
 368   19   41012693   T     A  0.601
 370   19   41012868   C     T  0.517
 372   19   41016810   C     T  0.517
 374   19   41018248   T     C  0.368
 400   22   23898914   C     T -1.679

 [302 rows x 5 columns],
      chr  Location1 Ref Alter     P7
 0      1   97057448   G     A  0.150
 2      1   97073844   G     A  0.150
 4      1   97077914   T     C  0.991
 6      1   97078076   A     G  0.090
 8      1   97078196   G     A -0.230
 ..   ...        ...  ..   ...    ...
 388   19   41012868   C     T -0.370
 390   19   41016810   C     T -0.673
 392   19   41018248   T     C  0.397
 422   22   23898914   C     T  0.330
 424   22   24034135   A     G  0.391

 [341 rows x 5 columns],
      chr  Location1 Ref Alter    P17
 0      1   97057448   G     A  0.345
 2      1   97073844   G     A  0.520
 4      1   97077914   T     C  0.587
 6      1   97078076   A     G  0.691
 8      1   97078196   G     A -0.309
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T -1.105
 392   19   41016810   C     T  0.514
 394   19   41018248   T     C -0.219
 424   22   23898914   C     T -2.066
 426   22   24034135   A     G -0.474

 [342 rows x 5 columns],
      chr  Location1 Ref Alter    P20
 0      1   97057448   G     A  0.341
 2      1   97073844   G     A  0.516
 4      1   97077914   T     C  0.992
 6      1   97078076   A     G -0.329
 8      1   97078196   G     A -0.924
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T -0.524
 392   19   41016810   C     T -0.013
 394   19   41018248   T     C -0.017
 424   22   23898914   C     T -1.677
 426   22   24034135   A     G -0.282

 [342 rows x 5 columns],
      chr  Location1 Ref Alter    P30
 0      1   97057448   G     A -0.394
 2      1   97073844   G     A -0.559
 4      1   97077914   T     C  0.193
 6      1   97078076   A     G -0.174
 8      1   97078196   G     A  0.144
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T -1.085
 392   19   41016810   C     T -0.293
 394   19   41018248   T     C -0.443
 424   22   23898914   C     T -2.574
 426   22   24034135   A     G -0.180

 [342 rows x 5 columns],
      chr  Location1 Ref Alter   P100
 0      1   97057448   G     A  0.335
 2      1   97073844   G     A  0.218
 4      1   97077914   T     C  1.850
 6      1   97078076   A     G  0.316
 8      1   97078196   G     A -1.034
 ..   ...        ...  ..   ...    ...
 390   19   41012868   C     T -2.468
 392   19   41016810   C     T -0.846
 394   19   41018248   T     C -0.215
 424   22   23898914   C     T -2.944
 426   22   24034135   A     G -0.304

 [342 rows x 5 columns]]

In [ ]:
for i in range(len(new_pd_P)):
  pd_En6 = pd.merge_ordered(pd_En6,new_pd_P[i],left_on=sorting_col,right_on=sorting_col,how='left',fill_method="ffill")
print(pd_En6.shape)

(342, 86)

## Finalizing

In [ ]:
Con_sorted = pd_Con[-1].sort_values(by = sorting_col)
Con_sorted = Con_sorted[['chr','Location1','Ref','Alter','Label']]
Con_sorted

     chr  Location1 Ref Alter  Label
0      1   97057448   G     A      1
2      1   97073844   G     A      1
4      1   97077914   T     C      0
6      1   97078076   A     G      0
8      1   97078196   G     A      0
..   ...        ...  ..   ...    ...
390   19   41012868   C     T      1
392   19   41016810   C     T      0
394   19   41018248   T     C      0
424   22   23898914   C     T      1
426   22   24034135   A     G      0

[342 rows x 5 columns]

In [ ]:
pd_En6.iloc[:,:4]

     chr  Location1 Ref Alter
0      1   97057448   G     A
1      1   97073844   G     A
2      1   97077914   T     C
3      1   97078076   A     G
4      1   97078196   G     A
..   ...        ...  ..   ...
337   19   41012868   C     T
338   19   41016810   C     T
339   19   41018248   T     C
340   22   23898914   C     T
341   22   24034135   A     G

[342 rows x 4 columns]

In [ ]:
pd_En7 = pd_En6 = pd.merge_ordered(pd_En6,Con_sorted,left_on=sorting_col,right_on=sorting_col,how='left',fill_method="ffill")
pd_En7

,chr,Location1,Ref,Alter,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,...,Con20,Con30,Con100,P4,P7,P17,P20,P30,P100,Label
0,1,97057448,G,A,0,0,0,0,0,0,...,0.077,0.008,0.092,NaN,0.150,0.345,0.341,-0.394,0.335,1
1,1,97073844,G,A,0,0,0,0,0,0,...,0.047,0.114,0.004,0.000,0.150,0.520,0.516,-0.559,0.218,1
2,1,97077914,T,C,0,0,0,0,0,0,...,0.682,0.904,0.069,0.669,0.991,0.587,0.992,0.193,1.850,0
3,1,97078076,A,G,0,0,0,0,0,0,...,0.001,0.005,0.000,-1.352,0.090,0.691,-0.329,-0.174,0.316,0
4,1,97078196,G,A,0,0,0,0,0,0,...,0.000,0.005,0.000,-1.424,-0.230,-0.309,-0.924,0.144,-1.034,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,19,41012868,C,T,0,0,0,0,0,0,...,0.001,0.000,0.000,0.517,-0.370,-1.105,-0.524,-1.085,-2.468,1
338,19,41016810,C,T,0,0,0,0,0,0,...,0.240,0.088,0.000,0.517,-0.673,0.514,-0.013,-0.293,-0.846,0
339,19,41018248,T,C,0,0,0,0,0,0,...,0.001,0.000,0.000,0.368,0.397,-0.219,-0.017,-0.443,-0.215,0
340,22,23898914,C,T,0,0,0,0,0,0,...,0.000,0.000,0.000,-1.679,0.330,-2.066,-1.677,-2.574,-2.944,1
341,22,24034135,A,G,0,0,0,0,0,0,...,0.002,0.002,0.000,-1.679,0.391,-0.474,-0.282,-0.180,-0.304,0

In [ ]:
pd_En8 = pd_En7.drop_duplicates(subset=sorting_col, keep='first')
print(pd_En8.shape)
df_duplicates = pd_En7[~pd_En7.index.isin(pd_En8.index)]
print(df_duplicates.shape)
print(df_duplicates)

(342, 87)
(0, 87)
Empty DataFrame
Columns: [chr, Location1, Ref, Alter, transcript_ablation, splice_acceptor_variant, splice_donor_variant, stop_gained, frameshift_variant, stop_lost, start_lost, transcript_amplification, feature_elongation, feature_truncation, inframe_insertion, inframe_deletion, missense_variant, protein_altering_variant, splice_donor_5th_base_variant, splice_region_variant, splice_donor_region_variant, splice_polypyrimidine_tract_variant, incomplete_terminal_codon_variant, start_retained_variant, stop_retained_variant, synonymous_variant, coding_sequence_variant, mature_miRNA_variant, 5_prime_UTR_variant, 3_prime_UTR_variant, non_coding_transcript_exon_variant, intron_variant, NMD_transcript_variant, non_coding_transcript_variant, coding_transcript_variant, upstream_gene_variant, downstream_gene_variant, TFBS_ablation, TFBS_amplification, TF_binding_site_variant, regulatory_region_ablation, regulatory_region_amplification, regulatory_region_variant, intergenic_variant, sequence_variant, cds_end_NF, cds_start_NF, maxDis, minDis, meanDis, maxSIFT, minSIFT, meanSIFT, maxPolyPhen, minPolyPhen, mmeanPolyPhen, AF, AFR_AF, AMR_AF, EAS_AF, EUR_AF, SAS_AF, gnomADg_AF, gnomADg_AFR_AF, gnomADg_AMI_AF, gnomADg_AMR_AF, gnomADg_ASJ_AF, gnomADg_EAS_AF, gnomADg_FIN_AF, gnomADg_MID_AF, gnomADg_NFE_AF, gnomADg_OTH_AF, gnomADg_SAS_AF, baseChange, Con4, Con7, Con17, Con20, Con30, Con100, P4, P7, P17, P20, P30, P100, Label]
Index: []

[0 rows x 87 columns]

## Add 'baseChange' feature

In [ ]:
pd_all = pd.concat((pd_En8,pd.get_dummies(pd_En8.baseChange)),1)
pd_all = pd_all.drop('baseChange', axis=1)
pd_all

<ipython-input-103-512d83ba1c9d>:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd_all = pd.concat((pd_En8,pd.get_dummies(pd_En8.baseChange)),1)

,chr,Location1,Ref,Alter,transcript_ablation,splice_acceptor_variant,splice_donor_variant,stop_gained,frameshift_variant,stop_lost,...,A/T,C/A,C/G,C/T,G/A,G/C,G/T,T/A,T/C,T/G
0,1,97057448,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,97073844,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,97077914,T,C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,97078076,A,G,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,97078196,G,A,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,19,41012868,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
338,19,41016810,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
339,19,41018248,T,C,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
340,22,23898914,C,T,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
341,22,24034135,A,G,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# No fill
pd_all.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_nof.csv', index=False)
# Fill NaN with zero
df_filled_zero = pd_all.fillna(0)
df_filled_zero.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_fzero.csv', index=False)

In [ ]:
num_col2 = grouped_df.columns[1:].tolist()
num_col2

['maxDis',
 'minDis',
 'meanDis',
 'maxSIFT',
 'minSIFT',
 'meanSIFT',
 'maxPolyPhen',
 'minPolyPhen',
 'mmeanPolyPhen']

In [ ]:
columns_to_convert

['AF',
 'AFR_AF',
 'AMR_AF',
 'EAS_AF',
 'EUR_AF',
 'SAS_AF',
 'gnomADg_AF',
 'gnomADg_AFR_AF',
 'gnomADg_AMI_AF',
 'gnomADg_AMR_AF',
 'gnomADg_ASJ_AF',
 'gnomADg_EAS_AF',
 'gnomADg_FIN_AF',
 'gnomADg_MID_AF',
 'gnomADg_NFE_AF',
 'gnomADg_OTH_AF',
 'gnomADg_SAS_AF']

In [ ]:
num_col2 = grouped_df.columns[1:].tolist()
num_col = num_col2 + columns_to_convert
pd_all[num_col].dtypes

maxDis            float64
minDis            float64
meanDis           float64
maxSIFT           float64
minSIFT           float64
meanSIFT          float64
maxPolyPhen       float64
minPolyPhen       float64
mmeanPolyPhen     float64
AF                float64
AFR_AF            float64
AMR_AF            float64
EAS_AF            float64
EUR_AF            float64
SAS_AF            float64
gnomADg_AF        float64
gnomADg_AFR_AF    float64
gnomADg_AMI_AF    float64
gnomADg_AMR_AF    float64
gnomADg_ASJ_AF    float64
gnomADg_EAS_AF    float64
gnomADg_FIN_AF    float64
gnomADg_MID_AF    float64
gnomADg_NFE_AF    float64
gnomADg_OTH_AF    float64
gnomADg_SAS_AF    float64
dtype: object

In [ ]:
df_filled_mean = pd_all.fillna(pd_all.mean())
df_filled_zero.to_csv('/content/gdrive/My Drive/Colab Notebooks/ADME Project/Sdata_fmean.csv', index=False)

<ipython-input-116-ec2b8b46ce3c>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled_mean = pd_all.fillna(pd_all.mean())

Conclusion: since the mean values will be effected by the dataset itself (hence the training and testing data will have different imputation value), the mean method is abandoned.